[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RepertoiR"]
	path = RepertoiR
	url = https://github.com/systemsbiomed/repertoir
